header{
  height: 22em;
  background-color: rgb(14, 14, 15);
  width: 100%;
  display: inline-block;
}

.article--h1 {
  display: flex;
  position:static;
  text-align: center;
  margin: 5em auto;
  color: white;
  font-family: 'Rye', cursive;
}

.container img {
  display: flex;
  margin: auto;
  width: 60em;
  padding-top: 20px;
}

@media ( max-width: 768px ){ img {
  max-width: 25em;
  padding-top: 20px;
  margin: auto;
  display: flex;
}
}

.blog1 {
  color: rgb(200, 200, 200);

  font-family: 'Montserrat',sans-serif;
  padding-top: 50px;
  font-weight: 400;

  font-size: 16px;
}

strong {
  font-size: 23px;
  font-family: 'Montserrat',sans-serif;
  color: white;
}





/* midia social */
.social-midia{
  font-size: 22px;
  display: flex;
  justify-content: center;
  }
  
  @media ( max-width: 800px ) { .social{
  padding: 0 auto;
  }
  }
  
  #facebook{
  padding: 0.6em 0 0 0.5rem;
  }
  
  #instagram{
  padding: 0.6em 0 0 0.5rem;
  }
  
  #whatsapp{
  padding: 0.6em 0 0 0.5rem;
  }

/* Rodapé */
footer{
  margin-top: 3em;
  border-top: 2px solid #979797;;
  color: #ffffff;
  text-align: center;
  background: rgb(0, 0, 0);
  bottom: 0px;
  width: 100%;
  padding: 2em;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .pay{
  font-size: 15px;
  }
  
  .desenvolvido{
  font-size: 12px;
  text-align: center;
  padding: 1em 0 0 0;
  position: absolute;
  right:0;
  }
  @media ( max-width: 800px ) { .desenvolvido {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  }
  }
  
  /* Cor da Midia Social */
  .green-color{
  color: rgb(255, 255, 255);
  }
  
  .green-color:hover{
  text-decoration: none;
  color: rgb(211, 211, 211);
  }
  
  .red-color{
  color: rgb(255, 255, 255);
  }
  
  .red-color:hover{
  text-decoration: none;
  color: rgb(211, 211, 211);
  }
  
  .blue-color{
  color: white;
  }
  
  .blue-color:hover{
  text-decoration: none;
  color: rgb(214, 214, 214);
  }
  .midia-social{
  font-size: 25px;
  }